name: Merge Example

on:
  push:
    branches:
      - main
    paths:
      - typescript-project/**
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: typescript-project

    strategy:
      fail-fast: true

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          cache: 'npm'
          cache-dependency-path: 'typescript-project/yarn.lock'

      - name: Install yarn
        run: npm install --global yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run linting
        run: yarn lint

      - name: Build project
        run: yarn build

      - name: Run tests
        run: yarn test

      - run: git config user.email "scottwestover2006@gmail.com"
      - run: git config user.name "@github-ci"
      - run: yarn version --patch --message "Bump version to %s"

      - run: git push
      - run: git push --follow-tags
